<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-xl font-semibold">MyApp</a>

    <nav
      class="space-x-6 flex items-center"
      *ngIf="!isLoggedIn(); else loggedIn"
    >
      <a routerLink="/" routerLinkActive="active" class="hover:text-gray-400"
        >Home</a
      >
      <a
        routerLink="/login"
        routerLinkActive="active"
        class="hover:text-gray-400"
        >Login</a
      >
    </nav>

    <ng-template #loggedIn>
      <div class="relative group">
        <button class="hover:text-gray-400 flex cursor-pointer items-center gap-2">
          <span class="material-icons">account_circle</span>
          <span *ngIf="user">{{ user.firstName }} {{ user.lastName }}</span>
        </button>
        <div
          class="absolute right-0 mt-2 w-40 bg-white text-black rounded shadow-lg py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-50"
        >
          <a routerLink="/profile" class="block px-4 py-2 hover:bg-gray-100"
            >My Profile</a
          >
          <button
            (click)="logout()"
            class="w-full text-left px-4 py-2 cursor-pointer hover:bg-gray-100"
          >
            Logout
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</header>

<router-outlet />

<footer class="bg-gray-800 fixed bottom-0 w-full text-white py-4">
  <div class="container mx-auto text-center">
    <p>&copy; 2025 MyApp. All rights reserved.</p>
  </div>
</footer>
